{% extends 'layouts/main.html' %}
{% block title %}Authorization Failed{% endblock %}
{% block content %}

<div class="page-header">
  <h1 class="display-3">Authorization Failed</h1>
</div>
<p class="lead">Sorry, looks like something went wrong! We can't access your strava account, if you want to try again you can use the button below.</p>
<p>Error: <strong>{{ error }}</strong></p>
<a class="btn btn-outline-primary btn-lg" role="button" href="{{ auth_url }}">Sign in to Strava &raquo;</a>

{% endblock %}